.CaseStudiesItem {
	position: relative;
	display: block;
	padding-left: 2.4rem;
	padding-right: 2.4rem;
}

.CaseStudiesItem .container {
	position: relative;
	padding-top: 6rem;
	display: flex;
	flex-direction: column;
}

.CaseStudiesItem .image {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	top: 0;
	left: 0;
}

.CaseStudiesItem .info {
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	height: 100%;
	align-items: center;
}

.CaseStudiesItem h3 {
	color: #ffffff;	
}

.CaseStudiesItem h4 {
	color: rgba(255,255,255,.5);
}

.CaseStudiesItem .title {
	font-size: 2rem;	
	line-height: 2.6rem;
}

.CaseStudiesItem .divider {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: rgba(0,0,0,.1);
}

@media screen and (min-width: 768px) {
	.CaseStudiesItem .container {
		padding-top: 14rem;
		flex-wrap: wrap;
		flex-direction: row;
		padding-left: 0;
		padding-right: 0;
	}
	.CaseStudiesItem .main {
		padding-bottom: 14rem;	
	}
	.CaseStudiesItem .image {
		opacity: 0;
		filter: blur(5px);
		transition: all .3s;
	}
	.CaseStudiesItem .info {
		position: relative;
	}
	.CaseStudiesItem:hover .image {
		opacity: 1;
		filter: blur(0);
	}
	.CaseStudiesItem h3 {
		color: #000	
	}
	.CaseStudiesItem:hover h3 {
		color: #ffffff;
	}
	.CaseStudiesItem h4 {
		color: rgba(33,33,33,.5);	
	}
	.CaseStudiesItem:hover h4 {
		color: rgba(255,255,255,.5);
	}
	.CaseStudiesItem .title {
		font-size: 3.4rem;	
		line-height: 4.4rem; 
	}

	.CaseStudiesItem .description {
		font-size: 3.4rem;	
		line-height: 4.4rem; 
	}
}

@media screen and (min-width: 1024px) {
	.CaseStudiesItem {
		margin-left: 7.2rem;
	}
}
