@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  /* 1 rem = 16 px  */
  font-size: 50%;
}

@media only screen and (min-width: 576px) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

body {
  box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
  font-size: 2rem;
	color: #575E86;
	overflow-x: hidden;
}

h1 {
  font-size: 4.4rem;
  line-height: 5.4rem;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	color: #2E3458;
}

h2 {
  font-size: 3.8rem;
  line-height: 4.8rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	color: #2E3458;
}

h3 {
	font-family: 'Poppins', sans-serif;
  font-size: 3.2rem;
  line-height: 4.2rem;
	font-weight: 600;
	color: #2E3458;
}

h4 {
  font-size: 2.5rem;
  line-height: 3.0rem;
	color: #2E3458;
}

h5 {
  font-size: 2.0rem;
  line-height: 2.4rem;
	font-weight: bold;
	color: #2E3458;
}

.btn {
  display: inline-block;
  padding: 1.5rem 2.5rem;
	font-size: 1.2rem;
	font-weight: bold;
	transition: all .2s ease;
	text-transform: uppercase;
	border-radius: 3px;
}

.btn:focus {
	outline: none;
}

.btn-primary {
	background-color: #FF5678;
	color: white;
}

.btn-primary:hover {
	background-color: #141414;
}

.btn-outline {
	background-color: transparent;
	border-color: rgba(20,20,20,.5);
	color: rgba(20,20,20,.5);
	border: 1px solid rgba(20,20,20,.5) 
}

.btn-outline:hover {
	border-style: solid;
	border-color: #141414;
	color: #141414;
}

.btn-black {
  background-color: black;
  color: white;
}
