@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
	font-family: "Suisse Int'l";
	font-weight: 400;
	src: url('../fonts/SuisseIntl-Regular.otf');
}

@font-face {
	font-family: "Suisse Int'l";
	font-weight: 500;
	src: url('../fonts/SuisseIntl-Medium.otf');
}

html {
  /* 1 rem = 16 px  */
  font-size: 50%;
}

body {
  box-sizing: border-box;
	font-family: "Suisse Int'l", sans-serif;
	font-weight: 400;
  font-size: 2rem;
	color: #333;
	overflow-x: hidden;
}

h1 {
	font-family: "Suisse Int'l", sans-serif;
	font-size: 3.8rem;
	line-height: 4.4rem;
	font-weight: 500;
	color: #ffffff;
}

h2 {
	font-family: "Suisse Int'l", sans-serif;
	font-size: 3.8rem;
	line-height: 4.4rem;
	font-weight: 500;
	color: #212121;
}

h3 {
	font-family: "Suisse Int'l", sans-serif;
	font-size: 3.2rem;
	line-height: 4rem;
	font-weight: 500;
	color: #212121;
	transition: all .3s;
}

h4 {
	font-family: "Suisse Int'l", sans-serif;
	font-size: 1.4rem;
	line-height: 2rem;
	color: rgba(33,33,33,.5);
	font-weight: 500;
	text-transform: uppercase;

	transition: all .3s;
}

h5 {
  font-size: 2.0rem;
  line-height: 2.4rem;
	font-weight: bold;
	color: #19212C;
}

header {
	padding-left: 2.4rem;
	padding-right: 2.4rem;
}

section{
	padding: 8rem 2.4rem;
}

@media screen and (min-width: 576px) {
  html {
    font-size: 56.25%;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 62.5%;
  }

	h1 {
		font-size: 6.4rem;
		line-height: 7rem;
	}
	h2 {
		font-size: 6.4rem;
		line-height: 7rem;
	}
	h3 {
	  font-size: 3.4rem;
		line-height: 4.4rem;	
	}
	h4 {
		font-size: 1.4rem;
		line-height: 1.8rem;
	}
	section {
		padding: 12rem 2.4rem;
	}
}

@media screen and (min-width: 1024px) {
	h1 {
	  font-size: 7.2rem;
		line-height: 7.9rem;
	}
	h2 {
		font-size: 7.2rem;
		line-height: 7.9rem;
	}
	header {
		padding-left: 9.6rem;
	}
}
