.CaseStudiesHeader {
	padding: 8rem 2.4rem;
}

@media screen and (min-width: 768px) {
	.CaseStudiesHeader {
		padding: 12rem 2.4rem 18rem 2.4rem;
	}
}

@media screen and (min-width: 1024px) {
	.CaseStudiesHeader {
		margin-left: 7.2rem;
	}
}
