:root {
	--light: 80;
	--threshold: 60;
}

.color-switch {
	--switch: calc((var(--light) - var(--threshold)) * -100%);
	color: hsl(0, 0%, var(--switch));
}

.MenuBar {
	position: fixed;
	top: 0;
	left: 0;
	width: 7.2rem;
	height: 100%;
}

.MenuBar .line {
	height: 100%;
	position: absolute;
	right: 0;
	width: 1px;
	left: auto;
}

.MenuBar .line .background {
	background-color: #b1b1b1;
	opacity: .4;
	position: absolute;
	width: 100%;
	height: 100%;
}

.MenuBar .line .scrollbar {
	display: block;
	height: 100%;
	background-color: #fff;
	transform-origin: center top;
}
